@model ShowFinder.Models.DiscoverMovies

<div class="row">
    <hr />
    <div class="col-sm-2">
        @if (Model.poster_path != null)
        {
        <img src='@string.Format("https://image.tmdb.org/t/p/w185{0}", Model.poster_path)'>
        }
       else
        {
        <img src="@Url.Content("~/Content/noimage.png")" width="185" height="267">
        }
        
    </div>
    <div class="col-sm-10">

        <h3>
            @Html.DisplayFor(model => model.title)
            @if (Model.original_title != Model.title)
            {
                @Html.Raw(" (")@Html.DisplayFor(model => model.original_title)@Html.Raw(")")
            }
        </h3>
        <div class="rateit" data-rateit-value="@Model.vote_average" data-rateit-ispreset="true" data-rateit-readonly="true" data-rateit-min="0" data-rateit-max="10"></div>
        <div>@Model.vote_average/10 (@Html.DisplayFor(model => model.vote_count) votes)</div>

        <p>@Html.DisplayFor(model => model.overview)</p>
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.release_date)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.release_date)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.popularity)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.popularity)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.original_language)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.original_language)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.genre)
                </dt>

                <dd>
                    @if (Model.genre.Any())
                    {
                        foreach (var item in Model.genre)
                        {
                            @item@Html.Raw(" ")
                        }
                    }
                    else
                    {
                        @Html.Raw("None")
                    }
                </dd>
            </dl>
        </div>    
    </div>
</div>