@model ShowFinder.Models.DiscoverTvShowsList

<div>
    @Html.Partial("_TvNavigation")
    @if (Model.results.Any())
    {
        @Html.DisplayFor(model => model.results)
    }
    else
    {
        <div class="col-md-4 col-sm-6 col-xs-12">No Movie Information</div>
    }
    @Html.Partial("_TvNavigation")
</div>

@Scripts.Render("~/bundles/jquery.rateit")
@Styles.Render("~/Content/jquery.rateit")
